@using deprimera.com.ar.Models
@model Partido

@{
    ModificarPartido unObjeto = new ModificarPartido();
    unObjeto.unPartido = ViewBag.Partido;
    unObjeto.unJugador = ViewBag.JugadorLog;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PerfilPartido</title>
    <meta charset="utf-8">
    <link href="~/Content/PerfilPartido.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Personal.css" rel="stylesheet" type="text/css" />
    <img alt="Fondo" id="full-screen-background-image" src="~/Images/Fondo.jpg" />
</head>
<body>
    <header>
        <section>
            <div class="TOP">
                <a href="@Url.Action("IrAIndex", "Home", ViewBag.JugadorLog, null)"> <img class="Logo" src="~/Images/Logo.png" /></a>
                <div class="MenuPersonal">
                    <div class="Barra">
                        <a class="A NombreUsuario">NOMBRE DE USUARIO</a>
                        <a href=""><img class="Iconos" src="~/Images/Perfil.png" style="height: 40px; width: 30px;" /></a>
                        <a href=""><img class="Iconos" src="~/Images/Notificaciones.png" style="height: 40px; width: 40px;" /></a>
                        <a href=""><img class="Iconos" src="~/Images/salir.png" style="height: 40px; width: 40px;" /></a>
                    </div>
                    <div class="Triangulo"></div>
                </div>
            </div>
        </section>
    </header>
    <main style="height: 800px; width: 1500px;">
        <section class="Arriba">
            <div class="Equipo" style="text-align: center;">
                <table>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            NOMBRE
                        </td>
                        <td>
                            ESTADO
                        </td>
                        <td>
                            ROL
                        </td>
                    </tr>
<<<<<<< HEAD
                    <tr>
                        @for (int i = 0; i+1 < unObjeto.unPartido.ListaDeJugadores.Count; i++)
                        {
                            i++;
                            <td>
                            @unObjeto.unPartido.ListaDeJugadores[i].IdJugador
                            </td><td>
                            @unObjeto.unPartido.ListaDeJugadores[i].NombreJugador
                            </td><td>
                            @unObjeto.unPartido.ListaDeJugadores[i].Estado
                            </td><td>
                            @unObjeto.unPartido.ListaDeJugadores[i].Rol
                            </td>
                        }
                    </tr>
=======
    @{
        for (int i = 0; i < unPartido.ListaDeJugadores.Count; i++)
        {
            <tr>
                <td>
                    @unPartido.ListaDeJugadores[i].IdJugador;
                </td>
                <td>
                    @unPartido.ListaDeJugadores[i].NombreJugador;
                </td>
                <td>
                    @unPartido.ListaDeJugadores[i].Estado;
                </td>
                <td>
                    @unPartido.ListaDeJugadores[i].Rol;
                </td>
            </tr>
            i++;
        }
    }
>>>>>>> 89f560b032fbcfe30db6542cb1d0110c4d323953
                </table>
            </div>
            <div class="Opciones" style="text-align: center;">
                </br><h3> Fecha: @unObjeto.unPartido.Fecha </h3>
                </br><h3> Cancha: @unObjeto.unPartido.Cancha.Nombre </h3>
                </br><h3> Cantidad de Jugadores: @unObjeto.unPartido.CantJug </h3>
            </div>
            <div class="Equipo" style="text-align: center;">
                <table>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            NOMBRE
                        </td>
                        <td>
                            ESTADO
                        </td>
                        <td>
                            ROL
                        </td>
                    </tr>
                    <tr>
<<<<<<< HEAD
                        @for (int o = 0; o < unObjeto.unPartido.ListaDeJugadores.Count; o++)
                        {
                            <td>
                                @unObjeto.unPartido.ListaDeJugadores[o].IdJugador
                            </td>
                            <td>
                                @unObjeto.unPartido.ListaDeJugadores[o].NombreJugador
                            </td>
                            <td>
                                @unObjeto.unPartido.ListaDeJugadores[o].Estado
                            </td>
                            <td>
                                @unObjeto.unPartido.ListaDeJugadores[o].Rol
=======
                        @for (int o = 0; o < unPartido.ListaDeJugadores.Count; o++){
                            <td>
                                @unPartido.ListaDeJugadores[o].IdJugador;
                            </td>
                            <td>
                                @unPartido.ListaDeJugadores[o].NombreJugador;
                            </td>
                            <td>
                                @unPartido.ListaDeJugadores[o].Estado;
                            </td>
                            <td>
                                @unPartido.ListaDeJugadores[o].Rol;
>>>>>>> 89f560b032fbcfe30db6542cb1d0110c4d323953
                            </td>
                            o++;
                        }
                    </tr>
                </table>
            </div>
        </section>
        <section class="BARRA">
<<<<<<< HEAD
            @if (unObjeto.unPartido.IdCancha > 0 && unObjeto.unPartido.Fecha > DateTime.Today)
            {
                <a class="Abajo" href="@Url.Action("Modificar", "Partido", unObjeto, null)">
                    <h2>Continuar</h2>
                    <img class="Iconos" src="~/Images/pelota.png" style="height: 40px; width: 40px; margin-left: 94px; margin-top: 8px;" />
                </a>
            }            
            <a class="Abajo" style="width:280px;" href="@Url.Action("Direccion", "Partido", unObjeto, null)">
=======
            <a class="Abajo" href="@*@Url.Action("Modificar", "Partido", unPartido, null, ViewBag.JugadorLog, null)*@">
                <h2>Continuar</h2>
                <img class="Iconos" src="~/Images/pelota.png" style="height: 40px; width: 40px; margin-left: 94px; margin-top: 8px;" />
            </a>
            <div class="Abajo" style="width:280px;">
>>>>>>> 89f560b032fbcfe30db6542cb1d0110c4d323953
                <h2>Direccion De Equipo</h2>
                <img class="Iconos" src="~/Images/direccion.png" style="height: 40px; width: 50px; margin-left: 118px; margin-top: 8px;" />
            </a>
            <a class="Abajo" href="@Url.Action("Opciones", "Partido", unObjeto, null)">
                <h2>Opciones</h2>
                <img class="Iconos" src="~/Images/opciones.png" style="height: 40px; width: 40px; margin-left: 94px; margin-top: 8px;" />
            </a>
            <div class="Abajo">
                <h2>Camisetas</h2>
            </div>
            @for (int e = 0; e < unObjeto.unPartido.ListaDeJugadores.Count; e++)
            {
<<<<<<< HEAD
                if (unObjeto.unPartido.ListaDeJugadores[e].IdJugador == ViewBag.JugadorLog.ID)
                {   
=======
                if (unPartido.ListaDeJugadores[e].IdJugador == ViewBag.JugadorLog.ID)
                {
>>>>>>> 89f560b032fbcfe30db6542cb1d0110c4d323953
                    <a class="Abajo" href="@Url.Action("SalirDelPartido", "Partido", ViewBag.JugadorLog, null)">
                        <h2>SALIR DEL PARTIDO</h2>
                        <img class="Iconos" src="~/Images/volver.png" style="height: 40px; width: 40px; margin-left: 94px; margin-top: 8px;" />
                    </a>
                }
            }
        </section>
    </main>
    <footer></footer>
</body>
</html>
