<html>
<head>
    <meta charset="utf-8">
    <title>Ejemplo menu</title>
    <link href="~/Content/Buscar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Personal.css" rel="stylesheet" type="text/css" />
    <img alt="Fondo" id="full-screen-background-image" src="~/Images/Fondo.jpg" />
</head>
<body>
    <header>
        <div class="TOP">
            <a href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)"> <img class="Logo" src="~/Images/Logo.png" /></a>
            <div class="MenuPersonal">
                <div class="Barra">
                    <a class="A NombreUsuario">NOMBRE DE USUARIO</a>
                    <a href=""><img class="Iconos" src="~/Images/Perfil.png" style="height: 40px; width: 30px;" /></a>
                    <a href=""><img class="Iconos" src="~/Images/Notificaciones.png" style="height: 40px; width: 40px;" /></a>
                    <a href=""><img class="Iconos" src="~/Images/salir.png" style="height: 40px; width: 40px;" /></a>
                </div>
                <div class="Triangulo"></div>
            </div>
        </div>
        <div class="MenuPrincipal">
            <ul>
                <li><a class="A" href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)">INICIO</a></li>
                <li><a class="A" href="@Url.Action("IrAPartido", "Home", ViewBag.jugadorqueselogueo, null)">PARTIDO</a></li>
                <li><a class="A" href="@Url.Action("IrAEquipo", "Home", ViewBag.jugadorqueselogueo, null)">EQUIPO</a></li>
                <li><a class="A" href="@Url.Action("IrABuscar", "Home", ViewBag.jugadorqueselogueo, null)">BUSCAR</a></li>
                <li><a class="A" href="#">CHAT</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="Arriba">
            <a class="Rectangulo">
                <img alt="Messi" class="Messi" src="~/Images/Messi2.png" />
                <h2>BUSCAR JUGADORES</h2>
            </a>
            <a class="Rectangulo">
                <img alt="Robben" class="Robben" src="~/Images/Robben.png" />
                <h2>BUSCAR CANCHAS</h2>
            </a>
        </div>
        <div class="Abajo">
            <a class="Rectangulo">
                <img alt="Martial" class="Martial" src="~/Images/Martial.png" />
                <h2>BUSCAR PARTIDOS</h2>
            </a>
            <a class="Rectangulo">
                <img alt="Robben" class="Robben" src="~/Images/Ribery.png" />
                <h2>BUSCAR EQUIPOS</h2>
            </a>
        </div>
    </main>
</body>
</html>
