<head>
    <title>Ejemplo menú</title>
    <link href="~/Content/Equipo.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Personal.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <img alt="Fondo" id="full-screen-background-image" src="~/Images/Fondo.jpg" />
    <header>
        <section>
            <div class="TOP">
                <a href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)"> <img class="Logo" src="~/Images/Logo.png" /></a>
                <div class="MenuPersonal">
                    <div class="Barra">
                        <div class="A NombreUsuario">NOMBRE DE USUARIO</div>
                        <a data-toggle="modal" data-target="#exampleModal"><img class="Iconos" src="~/Images/Perfil.png" style="height: 40px; width: 30px;" /></a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="width: 800px;">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: 30px;">INGRESE</h2>
                                    </div>
                                    <div class="modal-body" style="height: 600px;">
                                        <!--PREFIL JUGADOR-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Send message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#exampleModal').on('show.bs.modal', function (event) {
                                var button = $(event.relatedTarget)
                            })
                        </script>
                        <a href="@Url.Action("UltimasNotificaciones", "Home", ViewBag.jugadorqueselogueo, null)"><img class="Iconos" src="~/Images/Notificaciones.png" style="height: 40px; width: 40px;" /></a>
                        <a href="@Url.Action("IrALanding", "Home")"><img class="Iconos" src="~/Images/salir.png" style="height: 40px; width: 40px;" /></a>
                    </div>
                    <div class="Triangulo"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="MenuPrincipal">
                <ul>
                    <li><a class="A" href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)">INICIO</a></li>
                    <li><a class="A" href="@Url.Action("IrAPartido", "Home", ViewBag.jugadorqueselogueo, null)">PARTIDO</a></li>
                    <li><a class="A" href="@Url.Action("IrAEquipo", "Home", ViewBag.jugadorqueselogueo, null)">EQUIPO</a></li>
                    <li><a class="A" href="@Url.Action("IrABuscar", "Home", ViewBag.jugadorqueselogueo, null)">BUSCAR</a></li>
                    <li><a class="A" href="@Url.Action("IrAChat", "Home", ViewBag.jugadorqueselogueo, null)">CHAT</a></li>
                </ul>
            </div>
        </section>
    </header>

    <main>
        <section class="Izquierda">
            <div class="Crear">
                <a href="@Url.Action("CrearEquipo", "Equipo", ViewBag.jugadorqueselogueo, null)" style="width: 100%; height: 100%;">
                    <div class="Texto">
                        <h2>CREA TU PROPIO EQUIPO</h2>
                        <p>Crea tu equipo con tus amigos, y desafia a los equipos de tus otros amigos o al de desconosidos o sino entra a un torneo con tu equipo.</p>
                    </div>
                    <img class="Messi" src="~/Images/messi.png" />
                </a>
            </div>
        </section>
        <section class="Derecha">
            <a href="@Url.Action("IrAMisEquipos", "Equipo", ViewBag.jugadorqueselogueo, null)" class="Mis">
                <h2 class="TITULO">MIS EQUIPOS</h2>
                <img class="Ibrahimovic" src="~/Images/Ibrahimovic.png" />
            </a>
            <a href="@Url.Action("MisEquiposConVacantes", "Equipo", ViewBag.jugadorqueselogueo, null)" class="ConVacantes">
                <h2 class="TITULO">CON VACANTES</h2>
                <img class="Cech" src="~/Images/Cech.png" />
            </a>
        </section>
    </main>
</body>
