<head>
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Personal.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Content/jquery-3.2.1.min.js"></script>
</head>
<body>
    <img id="full-screen-background-image" src="~/Content/Images/Fondo.jpg" />
    <header>
        <section>
            <div class="TOP">
                <a href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)"> <img class="Logo" src="~/Content/Images/Logo.png" /></a>
                <div class="MenuPersonal">
                    <div class="Barra">
                        <a class="A NombreUsuario">NOMBRE DE USUARIO</a>
                        <a href=""><img class="Iconos" src="~/Content/Images/Perfil.png" style="height: 40px; width: 30px;" /></a>
                        <a href=""><img class="Iconos" src="~/Content/Images/Notificaciones.png" style="height: 40px; width: 40px;" /></a>
                        <a href=""><img class="Iconos" src="~/Content/Images/salir.png" style="height: 40px; width: 40px;" /></a>
                    </div>
                    <div class="Triangulo"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="MenuPrincipal">
                <ul>
                    <li><a class="A" href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)">INICIO</a></li>
                    <li><a class="A" href="@Url.Action("IrAPartido", "Home", ViewBag.jugadorqueselogueo, null)">PARTIDO</a></li>
                    <li><a class="A" href="@Url.Action("IrAEquipo", "Home", ViewBag.jugadorqueselogueo, null)">EQUIPO</a></li>
                    <li><a class="A" href="@Url.Action("IrABuscar", "Home", ViewBag.jugadorqueselogueo, null)">BUSCAR</a></li>
                    <li><a class="A" href="#">CHAT</a></li>
                </ul>
            </div>
        </section>
    </header>

    <main>
        <section>
            <div class="PrimeraMitad">
                <a href="@Url.Action("CrearPartido", "Partido", ViewBag.jugadorqueselogueo, null)" class="Bloque">
                    <div class="TituloYDecripcion">
                        <h1> SOLO </h1>
                        <p> Arma un partido solo con todas personas desconocidas. </p>
                    </div>
                    <img src="~/Content/Images/CristianoRonaldo.png" class="Imagen1" />
                </a>
                <a href="@Url.Action("CrearPartido", "Home", ViewBag.jugadorqueselogueo, null)" class="Bloque" style="margin-left: 20px;">
                    <div class="TituloYDecripcion">
                        <h1> FALTA GENTE </h1>
                        <p> Arma un partido con tus amigos y completa el equipo con desconocidos. </p>
                    </div>
                    <img src="~/Content/Images/equipo.png" class="Imagen1" />
                </a>
            </div>
        </section>
        <section>
            <div class="SegundaMitad">
                <a data-toggle="modal" data-target="#exampleModal" data-whatever="PartidosConVacantes" class="Rectangulo">
                    <div class="Titulo">
                        <h1>PARTIDOS CON VACANTES<h1 />
                    </div>
                    <img src="~/Content/Images/Puyol.png" class="Imagen2" />
                </a>
                <div class="DosMiniBloques">
                    <a data-toggle="modal" data-target="#exampleModal" data-whatever="PartidosConVacantes" class="MiniBloque">
                        <div class="Titulo">
                            <h1>TUTORIAL<h1/>
                        </div>
                        <img src="~/Content/Images/Zidane.png" class="Imagen3" />
                    </a>
                    <a data-toggle="modal" data-target="#exampleModal" data-whatever="PartidosConVacantes" class="MiniBloque" style="float: right;">
                        <div class="Titulo">
                            <h1>CONTACTO<h1/>
                        </div>
                        <img src="~/Content/Images/Guardiola.png" class="Imagen3" />
                    </a>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#exampleModal').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget) // Button that triggered the modal
                        var recipient = button.data('whatever') // Extract info from data-* attributes
                        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                        var modal = $(this)
                        modal.find('.modal-title').text('New message to ' + recipient)
                        modal.find('.modal-body input').val(recipient)
                    })
                </script>
            </div>
        </section>
    </main>
    <footer style="height: 500px; width: 100%;"></footer>
</body>