<head>
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Personal.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Content/jquery-3.2.1.min.js"></script>
</head>
<body>
    <img id="full-screen-background-image" src="~/Images/Fondo.jpg" />
    <header>
        <section>
            <div class="TOP">
                <a href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)"> <img class="Logo" src="~/Images/Logo.png" /></a>
                <div class="MenuPersonal">
                    <div class="Barra">
                        <div class="A NombreUsuario">NOMBRE DE USUARIO</div>
                        <a data-toggle="modal" data-target="#exampleModal"><img class="Iconos" src="~/Images/Perfil.png" style="height: 40px; width: 30px;" /></a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="width: 800px;">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: 30px;">INGRESE</h2>
                                    </div>
                                    <div class="modal-body" style="height: 600px;">
                                        <!--PREFIL JUGADOR-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Send message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#exampleModal').on('show.bs.modal', function (event) {
                                var button = $(event.relatedTarget)
                            })
                        </script>
                        <a href="@Url.Action("UltimasNotificaciones", "Home", ViewBag.jugadorqueselogueo, null)"><img class="Iconos" src="~/Images/Notificaciones.png" style="height: 40px; width: 40px;" /></a>
                        <a href="@Url.Action("IrALanding", "Home")"><img class="Iconos" src="~/Images/salir.png" style="height: 40px; width: 40px;" /></a>
                    </div>
                    <div class="Triangulo"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="MenuPrincipal">
                <ul>
                    <li><a class="A" href="@Url.Action("IrAIndex", "Home", ViewBag.jugadorqueselogueo, null)">INICIO</a></li>
                    <li><a class="A" href="@Url.Action("IrAPartido", "Home", ViewBag.jugadorqueselogueo, null)">PARTIDO</a></li>
                    <li><a class="A" href="@Url.Action("IrAEquipo", "Home", ViewBag.jugadorqueselogueo, null)">EQUIPO</a></li>
                    <li><a class="A" href="@Url.Action("IrABuscar", "Home", ViewBag.jugadorqueselogueo, null)">BUSCAR</a></li>
                    <li><a class="A" href="@Url.Action("IrAChat", "Home", ViewBag.jugadorqueselogueo, null)">CHAT</a></li>
                </ul>
            </div>
        </section>
    </header>

    <main>
        <section>
            <div class="PrimeraMitad">
                <a href="@Url.Action("CrearPartido", "Partido", ViewBag.jugadorqueselogueo, null)" class="Bloque">
                    <div class="TituloYDecripcion">
                        <h1> ARMA TU PARTIDO </h1>
                        <p> Organiza un partido, invita a tus amigos, completa las vacantes con desconocidos. </p>
                    </div>
                    <img src="~/Images/CristianoRonaldo.png" class="Imagen1" />
                </a>
                <a href="@Url.Action("CrearEquipo", "Partido", ViewBag.jugadorqueselogueo, null)" class="Bloque" style="margin-left: 20px;">
                    <div class="TituloYDecripcion">
                        <h1>CREA TU PROPIO EQUIPO</h1>
                        <p>Crea tu equipo con tus amigos y desafia a los equipos de tus otros amigos o de desconocidos.</p>
                    </div>
                    <img src="~/Images/equipo.png" class="Imagen1" />
                </a>
            </div>
        </section>
        <section>
            <div class="SegundaMitad">
                <a href="@Url.Action("VerPartidosConVacantes", "Partido", ViewBag.jugadorqueselogueo, null)" data-toggle="modal" data-target="#exampleModal" data-whatever="PartidosConVacantes" class="Rectangulo">
                    <div class="Titulo">
                        <h1>PARTIDOS CON VACANTES<h1 />
                    </div>
                    <img src="~/Images/Puyol.png" class="Imagen2" />
                </a>
                <div class="DosMiniBloques">
                    <a data-toggle="modal" data-target="#exampleModal2" class="MiniBloque">
                        <div class="Titulo">
                            <h1>TUTORIAL<h1/>
                        </div>
                        <img src="~/Images/Zidane.png" class="Imagen3" />
                    </a>
                    <script>
                        $('#exampleModal2').on('show.bs.modal', function (event) {
                            var button = $(event.relatedTarget)
                    </script>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--MODAL TUTORIAL-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a  data-toggle="modal" data-target="#exampleModal3" class="MiniBloque" style="float: right;">
                        <div class="Titulo">
                            <h1>CONTACTO<h1/>
                        </div>
                        <img src="~/Images/Guardiola.png" class="Imagen3" />
                    </a>
                    <script>
                            $('#exampleModal3').on('show.bs.modal', function (event) {
                                var button = $(event.relatedTarget)
                    </script>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--MODAL CONTACTO-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>