@using deprimera.com.ar.Models
@model Landing
<head>
    <meta charset="utf-8">
    <title>Ejemplo menú</title>
    <link href="~/Content/Landing.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
        <div class="Primera">
            <a data-toggle="modal" data-target="#exampleModal"><img src="~/Images/entrar.png" style="width: 400px; height: 130px; float: right;" /></a>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 800px;">
                            <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: 30px;">INGRESE</h2>
                            </div>
                            <div class="modal-body" style="height: 600px;">
                                <div class="Izq" style="width: 45%; float:left;">
                                    <form method="POST" action="@Url.Action("VieneDeLanding", "Home")">
                                        <h2>REGISTRARSE</h2>
                                        Nombre: @Html.TextBoxFor(x => x.unJugador.Nombre, new { @style = "float: right;"})<br /><br />
                                        Apellido: @Html.TextBoxFor(x => x.unJugador.Apellido, new { @style = "float: right;" })<br /><br />
                                        Email: @Html.TextBoxFor(x => x.unJugador.Email, new { @style = "float: right;" })<br /><br />
                                        Foto: @Html.TextBoxFor(x => x.unJugador.Foto, new { @style = "float: right;" })<br /><br />
                                        Edad: @Html.TextBoxFor(x => x.unJugador.Edad, new { @style = "float: right;" })<br /><br />
                                        DNI: @Html.TextBoxFor(x => x.unJugador.DNI, new { @style = "float: right;" })<br /><br />
                                        Telefono: @Html.TextBoxFor(x => x.unJugador.Telefono, new { @style = "float: right;" })<br /><br />
                                        Calificacion: @Html.TextBoxFor(x => x.unJugador.Calificacion, new { @style = "float: right;" })<br /><br />
                                        CantidadDeVotos: @Html.TextBoxFor(x => x.unJugador.CantidadDeVotos, new { @style = "float: right;" })<br /><br />
                                        Contraseña: @Html.PasswordFor(x => x.unJugador.Contraseña, new { @style = "float: right;" })<br /><br />
                                        ConfirmarContraseña: @Html.PasswordFor(x => x.unJugador.ConfirmarContraseña, new { @style = "float: right;" })<br /><br />
                                        <input type="submit" />
                                    </form>
                                </div>
                                <div class="Der" style="width: 45%; float:left; margin-left: 50px;">
                                    <form method="POST" action="@Url.Action("VieneDeLanding", "Home")">
                                        <h2>INGRESA</h2>
                                        Email: @Html.TextBoxFor(x => x.unJugador.Email, new { @style = "float: right;" })<br /><br />
                                        Contraseña: @Html.PasswordFor(x => x.unJugador.Contraseña, new { @style = "float: right;" })<br /><br />
                                        <input type="submit" />
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#exampleModal').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget) 
                    })
                </script>
    </section>
    <section>
        <div class="Segunda" style="height: 280px;">
            <div class="Descripcion">
                <h4>
                    En DePrimera.com.ar tratamos de ofrecer al usuario un espacio para personas que les gusta jugar al futbol y tienen determinados problemas a la hora
                    de organizar un partido, a modo de red social web.  Nosotros nos encargamos de resolver todos estos problemas con la mayor facilidad posible
                    ofreciéndote la posibilidad de agregar tanto amigos como desconocidos a tu partido y otros beneficios.
                    Lo que hace tan especial al proyecto es que te permite conocer e interactuar con personas que le gusta tanto el futbol como a vos.
                </h4>
            </div>
        </div>
    </section>
    <section>
        <div class="Tercera">
            <img class="ImagenIzq" alt="CristianoRonaldo" src="~/Images/EquipoB.png" />
            <div class="TextoConBotonDer">
                <h2>CON TUS AMIGOS</h2>
                <p>
                    Busca y agrega a tus amigos, calificalos, comentá y chatea con ellos.
                    Socializa de manera segura y a traves del deporte gracias a nuestro sistema de puntuaciones y comentarios de usuario.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="Cuarta">
            <img class="ImagenDer" style="opacity: 0;" src="~/Images/EquipoIdeal.png" />
            <div class="TextoConBotonIzq">
                <h2 style="color: black;">ARMA PARTIDOS</h2>
                <p style="color: black;">
                    Organiza partidos con o sin amigos para jugar en cualquier cancha. Elegi la fecha, hora, cancha o entra en un partido ya armado con vacantes.
                    Pensamos en la web como una forma de relacionarse con personas de manera segura y a traves de gustos, pedimos datos sobre todos los usuarios para estar garantizar
                    tu seguridad durante tu experiencia.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="Quinta">
            <img class="ImagenDer" src="~/Images/EquipoIdeal.png" />
            <div class="TextoConBotonIzq">
                <h2>CON TUS EQUIPOS</h2>
                <p>
                Crea tu equipo ideal con jugadores a tu elección los cuales pueden ser tanto tus amigos como desconocidos o encontra tu equipo ideal basandote en la informacion
                que proveemos de éste como la calificación, comentarios o integrantes. Utiliza tu equipo para poder comenzar desafíos y entrar en distintas competencias.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="Sexta">
            <img class="ImagenIzq" src="~/Images/Kane2.png" />
            <div class="TextoConBotonDer">
                <h2 style="color: black;">AFILIA TU CANCHA</h2>
                <p style="color: black;">
                    Si eres dueño de un establecimiento que ofrece canchas de futbol y no esta participando, no te quedes afuera y afilia tu cancha
                    para recibir mas clientes. Para afiliar su cancha haga <a data-toggle="modal" data-target="#exampleModal2">Click Aqui</a>
                </p>
                <script>
                    $('#exampleModal2').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget) 
                    })
                </script>
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="@Url.Action("AFILIARCANCHA", "Home")">
                                    <h2>AFILIA TU CANCHA</h2>
                                    Nombre del Establecimiento: @Html.TextBoxFor(x => x.unaCancha.Nombre, new { @style = "float: right;" })<br /><br />
                                    Barrio: @Html.TextBoxFor(x => x.unaCancha.Barrio, new { @style = "float: right;" })<br /><br />
                                    Calle1: @Html.TextBoxFor(x => x.unaCancha.Calle1, new { @style = "float: right;" })<br /><br />                                    
                                    Calle2: @Html.TextBoxFor(x => x.unaCancha.Calle2, new { @style = "float: right;" })<br /><br />
                                    Telefono: @Html.TextBoxFor(x => x.unaCancha.Telefono, new { @style = "float: right;" })<br /><br />
                                    <input type="submit" />
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="Octava">
            <h2 style="color: black;text-align:center;margin-top:20px;">REDES SOCIALES</h2>
            <div class="RedesSociales" style="margin-bottom: 20px;">
                <img src="~/Images/Facebook.png" class="redsocial" />
                <img src="~/Images/Twitter.png" class="redsocial" />
                <img src="~/Images/Plus.png" class="redsocial" />
            </div>
        </div>
    </section>
    <section>
        <div class="Novena">
            <h2 style="color: black;text-align:center;margin-top:20px;">CONTACTANOS</h2>
            <form>
                <input type="text" placeholder="Ingrese su Email" class="CajaForm">
                <input type="text" placeholder="Ingrese su Nombre" class="CajaForm">
                <input type="text" placeholder="Ingrese texto" class="CajaForm" style="height: 200px;">
                <button class="BTN" type="submit">ACEPTAR</button>
            </form>
        </div>
    </section>
    <footer style="margin-bottom: 0px;">
        <h2 style="color:white;text-align:center;margin-top:20px;margin-bottom: 0px;">HECHO POR EZEQUIEL BIKIEL Y EDGARDO ALVAREZ</h2>
    </footer>
</body>